---
interface Props {
  href?: string;
  text: string;
  style?: string;
  className?: string;
  textColor?: string;
  borderColor?: string;
  fullWidth?: boolean;
}
const { href = '#', text, style = '', className = '', textColor = 'white', borderColor = 'white', fullWidth = false } = Astro.props;
---
<a href={href} style={`padding:12px 24px; color: ${textColor}; border: 1px solid ${borderColor}; transition: all 0.2s; text-align: center; ${fullWidth ? 'width: 100%;' : ''} ${style}`} class={`inline-block rounded text-center ${fullWidth ? 'w-full' : ''} ${className}`} onmouseover="this.style.borderColor='#4f4f4f'" onmouseout={`this.style.borderColor='${borderColor}'`}>
  {text}
</a> 